* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-color: #204e4a;
  --accent-color: #c0e0a5;
  --main-color: #e5a825;
  --secondary-color: #f46c6c;
  --light-color: #ffffff;
}

.profile-container {
  background-color: var(--light-color);
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-content {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5em 8%;
}

.profile-image-container {
  background-color: #58aa44;
  width: 30%;
  min-width: 280px;
  height: 50vh;
  background-size: cover;
  border-radius: 200px;
  background-position: center;
  background-image: url(../assests/Aron.jpg);
  flex: 1;
}

.profile-summary-container {
  font-size: 1.5em;
  flex: 1;
}

.summary-text {
  padding-top: 2em;
  max-width: 50ch;
}

.summary-button-container {
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.btn {
  font-weight: 700;
  border-radius: 10px;
  font-size: 0.75em;
  padding: 0.5em 1em;
  border: solid 3px;
}

.btn-explore {
  color: var(--light-color);
  background-color: var(--main-color);
  border-color: var(--accent-color);
}

.btn-explore:hover {
  color: var(--main-color);
  background-color: var(--accent-color);
  border-color: var(--main-color);
}

.btn:hover {
  cursor: pointer;
}

.btn-skills {
  color: var(--main-color);
  background-color: var(--light-color);
  border-color: var(--main-color);
}

.btn-skills:hover {
  background-color: var(--accent-color);
}

.skills-container {
  position: relative;
  z-index: 1;
  height: 30vh;
  display: flex;
  overflow-x: scroll;
}

.skills-title {
  text-align: center;
  color: black;
  padding-bottom: 1em;
}

.skill {
  height: 100%;
  margin: auto;
  text-align: center;
  min-width: max(200px, 18vw);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-color);
  color: var(--dark-color);
}

.skill:nth-child(even) {
  color: var(--light-color);
  background-color: var(--secondary-color);
}

.project-section-container {
  padding: 5%;
}

.project-section-container h1 {
  padding-bottom: 1em;
  text-align: center;
}

.project-content-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.project-image-container {
  width: 300px;
  height: 200px;
  background-color: #204e4a;
}

.project-title {
  padding-left: 0.5em;
}

.project-container {
  padding: 1% 1%;
  border-radius: 10px;
  border: solid #204e4a;
}

.project-text-container * {
  padding-left: 1em;
}

.project-teck-stack {
  padding-left: 0em;
}

.all-projects-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.background-shape {
  left: 0%;
  transform: rotate(65deg);
  position: absolute;
  background-color: #204e4a;
  width: 100vw;
  height: 30px;
}

.profile-content {
  z-index: 1;
}
