* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-color: #204e4a;
  --accent-color: #88ddf7;
  --main-color: #e5a825;
  --secondary-color: #f46c6c;
  --tertiary-color: #ffd583;
  --light-color: #ffffff;
}

.profile-container {
  background-image: url(./profile-back.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-content {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5em 8%;
  position: relative;
  z-index: 1;
}

.profile-image-container {
  width: 30%;
  min-width: 280px;
  height: 50vh;
  background-size: cover;
  border-radius: 200px;
  background-position: center;
  background-image: url(../assests/Aron.jpg);
  flex: 1;
}

.profile-summary-container {
  font-size: 1.5em;
  flex: 1;
}
.summary-title {
  background-color: rgba(255, 255, 255, 0.901);
  padding-inline: 0.2em;
  border-radius: 10px;
}

.summary-text {
  background-color: rgba(255, 255, 255, 0.901);
  padding-inline: 0.2em;
  border: solid 1px rgba(0, 0, 0, 0.148);
  border-radius: 10px;
  margin-top: 2em;
  max-width: 50ch;
}

.summary-button-container {
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.btn {
  font-weight: 700;
  border-radius: 10px;
  font-size: 0.75em;
  padding: 0.5em 1em;
  border: solid 3px;
}

.btn-explore {
  color: var(--light-color);
  background-color: var(--main-color);
  border-color: var(--accent-color);
}

.btn-explore:hover {
  color: var(--main-color);
  background-color: var(--accent-color);
  border-color: var(--main-color);
}

.btn:hover {
  cursor: pointer;
}

.btn-skills {
  color: var(--main-color);
  background-color: var(--light-color);
  border-color: var(--main-color);
}

.btn-skills:hover {
  background-color: var(--accent-color);
}

.skills-section-container {
  padding-top: 1em;
  background-color: var(--light-color);
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
  padding-bottom: 2em;
}

.skills-title {
  text-align: center;
  color: black;
  padding-bottom: 1em;
}

.skill {
  text-align: center;
  min-width: max(200px, 18vw);
  flex-direction: column;
  color: var(--dark-color);
  border-radius: 7px;
  border: solid rgb(230, 230, 230);
  overflow: hidden;
}

.skill h2 {
  background-color: var(--tertiary-color);
}

.skill div {
  padding-block: 0.5em;
  /* background-color: rgb(242, 242, 242); */
}

.project-section-container {
  background-color: var(--secondary-color);
  padding: 5%;
}

.project-section-container h1 {
  padding-bottom: 1em;
  text-align: center;
}

.project-content-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.project-image-container {
  margin: 1em 0 1em 2em;
  width: 300px;
  height: 200px;
  background-color: #204e4a;
}

.project-title {
  padding-left: 0.5em;
}

.project-container {
  padding: 1% 1%;
  border-radius: 10px;
  background-color: var(--light-color);

  border: solid #e0e0e0;
}

.project-text-container * {
  padding-left: 1em;
}

.project-teck-stack {
  padding-left: 0em;
}

.all-projects-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.background-shape {
  left: -30%;
  transform: rotate(75deg);
  position: absolute;
  background-color: #204e4a;
  width: 100%;
  height: 30px;
}

.second-profile-container {
  /* background-image: url(./second-profile-back.svg); */
  background-color: var(--main-color);
}

.second-profile-content-container {
  padding: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em 1em;
}

.second-profile-image-container {
  margin: auto;
  position: relative;
  min-width: 280px;
  flex: 1;
}

.second-profile-text-container {
  /* background-color: #e5a825de; */
  border-radius: 10px;
  padding: 1em;
  padding-left: 1em;
  font-size: 1.6em;
  margin: auto;
  min-width: 280px;
  flex: 1;
}

.second-profile-image {
  width: 50%;
  padding-top: 35%;
  background-image: url(./Monsoon.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: var(--secondary-color); */
}

.second-image-1 {
  position: absolute;
  background-color: var(--secondary-color);
  border: solid var(--secondary-color);
  transform: translate(20%, 20px) rotate(-12deg);
}
.second-image-2 {
  transform: translate(80%, -40px) rotate(9deg);
  background-color: var(--accent-color);
  border: solid var(--accent-color);
}
